/*css重置*/
html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
form, label, legend,fieldset,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
}
main,header,footer{
    display: block;
}
html,body,textarea,input,select,button,p,div,ul,li,h1,h2,h3,h4,h5,h6{
    line-height: 1.25;
    font-size: 14px;
    color: #929292;
    font-family: "microsoft yahei","Helvetica Neue",Arial;
}
html{
    min-height: 100%;
}
body{
    background-color: #ffffff;
}
i{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
ol, ul, li{
    list-style: none;
    padding:0;
}
img,input,button,select{
    vertical-align: middle;
    border:none;
    outline: none;
}
input{
    border-radius:0;
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}
input:focus,textarea:focus{
    outline: none;
}
input[type='button']{
    cursor: pointer;
}
input[type='checkbox']{
    width: 14px;
    height: 14px;
}
input[type='radio']{
    width: 14px;
    height: 14px;
}
ul,li,a,i,span{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*去除点击高亮样式*/
p,span{
    word-break: break-all;
}
em,i{
    font-style: normal;
}
a{
    font-size:14px;
    text-decoration: none;
}
a:link,a:visited,a:hover,a:active{
    outline:none;
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
textarea{
    width: 100%;
    border: none;
    overflow: hidden;
    resize: none;
}
span, a{
    display: inline-block;
}
a,button{
    cursor: pointer;
}
p{
    margin-bottom: 6px;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,span{
    display: inline-block;
}

/*css取消input、select默认样式（手机端）*/
input,select{
    /*IOS端*/
    background-color:transparent;
    border-color:transparent;
    /*andorid端*/
    -webkit-appearance: none;
}
/*重置bootstrap样式*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}
.row{
    margin: 0;
}

/*-------------------------basic--------------------------*/
.i-relative{
    position: relative;
}
.i-bold{
    font-weight: bold;
}
.i-pointer{
    cursor: pointer;
}
.i-hidden{
    visibility: hidden;
}
.i-va-middle{
    vertical-align: middle;
}
.i-va-top{
    vertical-align: top;
}
.i-none{
    display: none!important;
}

/*颜色*/
.i-black{
    color: #000000;
}
.i-white{
    color: #FFFFFF;
}
.i-gray{
    color: #666666;
}

/*scroll 滚动条样式/
/* Let's get this party started */
::-webkit-scrollbar {
    width: 0;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgb(174, 177, 179);
    -webkit-box-shadow: inset 0 0 6px rgb(174, 177, 179);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(174, 177, 179);
}

/*placeholder 样式*/
/*::-webkit-input-placeholder { !* WebKit browsers *!*/
/*color: #b7b7c7;*/
/*font-size: 0.14rem;*/
/*}*/
/*:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!*/
/*color: #b7b7c7;*/
/*font-size: 0.14rem;*/
/*}*/
/*::-moz-placeholder { !* Mozilla Firefox 19+ *!*/
/*color: #b7b7c7;*/
/*font-size: 0.14rem;*/
/*}*/
/*:-ms-input-placeholder { !* Internet Explorer 10+ *!*/
/*color: #b7b7c7;*/
/*font-size: 0.14rem;*/
/*}*/
